* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.container--btn-more {
  text-align: center;
  margin-bottom: 200px;

  button {
    padding: 7px 20px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #183118;
    color: #edf5ed;
    border: 2px solid #183118;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #183118;
      background-color: #edf5ed;
    }
  }
}

.header {
  background-color: #3f7c3f;
  color: #edf5ed;

  &__container {
    display: flex;
    align-items: center;
  }
  

  &__left {
    font-size: 80px;
  }
  &__right {
    padding-left: 30px;
  }
}


.apod {
  margin-bottom: 50px;

  h3 {
    margin-bottom: 0;
  }

  h4 {
    margin-top: 2px;
    margin-bottom: 0;
    opacity: 0.8;
  }

  .link-translate {
    opacity: 0.6;
    font-size: 14px;
    text-align: right;
  }

  .explanation {
    display: flex;

    div {
      padding: 15px;
    }
  }

  img {
    width: 100%;
  }
}
